# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
catboost_info/
# Virtual Environment
venv/
env/
ENV/
myenv/
# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Project specific
logs/
ml_model/data/datacard
ml_model/data/anomaly

outputs/
models/saved_models/
myenv/
catboost_info/
# ml_model/data/raw/
rest_api/data/
observe_ml_data/

#data/raw/*
data/processed/*
data/interim/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep

data/
data2/
Star_Vijay_Super_Overall_Report/
Star_Vijay_Super_Time_Band_Data_Analysis/
Star_Vijay_Super_Weekly_Downtrend_Analysis/
# Environment variables
.env
.env.*

# System Files
.DS_Store
Thumbs.db

*.zone.Identifier
infra/helm/postgresdataconnector/values.yaml
